<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet " href="/stylesheets/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>WippoStore</title>
</head>

<body>
    <header class="sticky-top ">
        <%- include("../layouts/header1") %>
    </header>

    <!--Product Details-->
    <div class="container p-3 ">
        <div class="card">
            <% products.forEach(products => { %>
                <div class="row no-gutters">
                    <aside class="col-sm-6 border-right">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <a href="#"><img src="/images/<%= products.imagen1 %>" class="img-fluid" alt="foto principal"></a>
                            </div>
                            <!-- img-big-wrap.// -->
                            <div class="thumbs-wrap">
                                <a href="#" class="item-thumb"> <img src="/images/<%= products.imagen2 %>" class="img-fluid" alt="foto secundaria 1"></a>
                                <a href="#" class="item-thumb"> <img src="/images/<%= products.iamgen3 %>" class="img-fluid" alt="foto secundaria 2"></a>
                            </div>
                            <!-- thumbs-wrap.// -->
                        </article>
                        <!-- gallery-wrap .end// -->
                    </aside>
                    <main class="col-sm-6">
                        <article class="content-body">
                            <h2 class="title">
                                <%=products.Nombre%>
                            </h2>

                            <p>
                                <%=products.Descripcion%>
                            </p>
                            <p class="fw-bold">Color: <span class="fw-normal"><%=products.Color%></span></p>
                            <p class="h5">Acerca de este artículo</p>
                            <ul class="list-normal cols-two">
                                <li>
                                    <%=products.Caracteristica_1%>
                                </li>
                                <li>
                                    <%=products.Caracteristica_2%>
                                </li>
                                <li>
                                    <%=products.Caracteristica_3%>
                                </li>
                            </ul>

                            <div class="h3 mb-4">
                                <var class="price h4">$<%=products.Precio%> </var>
                                <!-- <label class="text-muted h6"> IVA incluido</label> -->
                            </div>
                            <!-- price-wrap.// -->

                            <form method="POST" class=" needs-validation" novalidate>
                                <!-- Direccion -->
                                <div class="row g-3">
                                    <div class="col-md-4 form-group">
                                        <label></label>
                                        <input type="number" min="1" class="form-control" placeholder="Cantidad">
                                    </div>
                                    <!-- form-group end.// -->
                                    <div class="col-md-12 form-group ">
                                        <button value="" class="btn btn-outline-dark">Comprar Ahora</button>
                                        <button value="" type="button" class="btn btn-outline-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                        </svg>
                                        Añadir al carrito
                                      </button>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""></label>

                                    </div>
                                    <!-- form-group end.// -->
                                </div>

                                <div class="form-group pt-5 d-flex justify-content-md-evenly">

                                </div>
                                <!-- form-group// -->
                            </form>

                        </article>
                        <!-- product-info-aside .// -->
                    </main>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
                <% }); %>
        </div>
    </div>

    <footer>
        <%- include("../layouts/footer") %>
    </footer>
</body>

</html>