<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet " href="/stylesheets/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Mi perfil</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include("../layouts/flash") %>
        <header class="sticky-top ">
            <!-- NAVBAR -->
            <%- include("../layouts/header1") %>

                <div class="container-fluid badge bg-dark">
                    <h1>Perfil</h1>
                </div>
        </header>


        <div class="container pt-4 ">
            <div class="row">
                <div class="col-4">
                    <div class="container-fluid pt-3">
                        <p class="h2">Mis datos</p>
                        <hr>
                        <form action="">
                            <p class="h3">Datos personales</p>
                            <dl class="row fs-6">
                                <dd class="col-sm-12 ">
                                    <label class="col-sm-4">Nombre</label>
                                    <input type="text" value="<%= user.Nombre %>" class="form-control" name="" id="">
                                </dd>

                                <dd class="col-sm-6">
                                    <label class="col-auto me-auto">Apellido Materno</label>
                                    <input type="text" value="" class="form-control" name="" id="">
                                </dd>
                                <dd class="col-sm-6">
                                    <label class="col-auto me-auto">Apellido Paterno</label>
                                    <input type="text" value="" class="form-control" name="" id="">
                                </dd>
                                <br><br>
                                <p class="h3">Datos de cuenta</p>
                                <dd class="col-sm-12">
                                    <label class="col-sm-4">E-mail</label>
                                    <input type="text" value="<%= user.Correo_Electronico%>" class="form-control"
                                        name="" id="">
                                </dd>
                            </dl>
                        </form>
                        <div class="nav justify-content-end pt-1 pb-2">
                            <a class="btn btn-outline-dark text-end" href="./profileC">Guardar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <%- include("./../layouts/address.ejs") %>
                        <%- include("./../layouts/payments.ejs") %>
                </div>
            </div>
        </div>

        <footer class="mt-auto">
            <%- include("../layouts/footer") %>
        </footer>

</body>

</html>