<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/head") %>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include("../layouts/flash") %>

        <header class="">
            <%- include("../layouts/header1") %>
        </header>
        <%- include("../layouts/Detalle_Orden") %>

            <footer class="mt-auto">
                <%- include("../layouts/footer") %>
            </footer>
</body>

</html>