<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/head") %>
        <script>
            Toastify({
                text: "This is a toast",
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                className: "info",
            }).showToast();
        </script>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="sticky-top ">
        <!-- NAVBAR -->
        <%- include("../layouts/header1") %>

            <div class="container-fluid badge bg-dark">
                <h1>Perfil</h1>
            </div>
    </header>


    <div class="container pt-4 ">
        <div class="row">
            <div class="col-4">
                <div class="container-fluid pt-3">
                    <p class="h2">Mis datos</p>
                    <hr>
                    <dl class="row ">
                        <p class="h3">Datos personales</p>
                        <dt class="col-sm-3">Nombre</dt>
                        <dd class="col-sm-9">
                            <%= user.Nombre %>
                                <%= user.Apellido_Paterno %>
                                    <%= user.Apellido_Materno %>
                        </dd>
                        <br><br>
                        <p class="h3">Datos de cuenta</p>
                        <dt class="col-sm-3">E-mail</dt>
                        <dd class="col-sm-9">
                            <%= user.Correo_Electronico %>
                        </dd>
                    </dl>
                    <div class="nav justify-content-end pt-1">
                        <a class="btn btn-outline-dark text-end" href="./editProfileC">Editar datos</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <%- include("./../layouts/address.ejs") %>
                    <%- include("./../layouts/payments.ejs") %>
            </div>
        </div>
    </div>

    <footer class="mt-auto">
        <%- include("../layouts/footer") %>
    </footer>

</body>

</html>