<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet " href="/stylesheets/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>WippoStore</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <script>
        let price = 330;
        let tax = 330 * 0.16;
        let total = price + tax;
    </script>
    <header>
        <%- include("../layouts/header1") %>
    </header>

    <div class="container p-5">
        <h3>Detalles del Pedido</h3>
        <div class="row">
            <main class="col-md-9">
                <article class="card card-body mb-3">
                    <div class="row d-flex align-items-center">
                        <span class="text-muted h4">Dirección</span>
                        <style>
                            .wippo-radio {
                                color: #fff;
                                border-color: #1f1f1f !important;
                                background-color: #ffff !important;
                            }
                            .wippo-radio:checked {
                                color: #fff;
                                border-color: #1f1f1f !important;
                                background-color: #1f1f1f !important;
                            }
                        </style>
                        <div class="h5">
                            <div class="form-check">
                                <input class="form-check-input wippo-radio" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    <span class="text-muted h6">Casa</span><br />
                                    Mar meditarraneo #48 Gustavo A. Madero., Ciudad de Mexico. CP 55400
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input wippo-radio" type="radio" name="exampleRadios" id="exampleRadios2"
                                    value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    <span class="text-muted h6">Oficina</span><br />
                                    Mar meditarraneo #48 Gustavo A. Madero., Ciudad de Mexico. CP 55400
                                </label>
                            </div>
                        </div>
                        <!-- col.// -->
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-sm-7"></div>
                        <div class="col-md-2 col-sm-3">
                            <button class="btn btn-sm btn-dark">Agregar</button>
                        </div>
                    </div>
                    <!-- row.// -->
                </article>

                <article class="card card-body mb-3">
                    <div class="row d-flex align-items-center">
                        <div class="col">
                            <span class="text-muted h4">Método de Pago <i class="bi bi-credit-card"></i></span>
                            <div class="h5">
                                <div class="form-check">
                                    <input class="form-check-input wippo-radio" type="radio" name="exampleRadios2"
                                        id="exampleRadios3" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios3"> Visa XXXX-948
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input wippo-radio" type="radio" name="exampleRadios2"
                                        id="exampleRadios4" value="option2">
                                    <label class="form-check-label" for="exampleRadios4">
                                        Mastercard XXXX-949
                                    </label>
                                </div>
                            </div>
                            <!-- col.// -->
                        </div>
                    </div>
                    <!-- row.// -->
                    <div class="row">
                        <div class="col-md-10 col-sm-7"></div>
                        <div class="col-md-2 col-sm-3">
                            <button class="btn btn-sm btn-dark">Agregar</button>
                        </div>
                    </div>
                </article>


                <!-- card .// -->
            </main>
            <!-- col.// -->
            <aside class="col-md-3 border-left">
                <div class="card-body">
                    <dl class="dlist-align">
                        <div class="h5">
                            <dt>Subtotal:</dt>
                            <dd class="text-right">
                                $ <%=price%>
                            </dd>
                        </div>
                        <div class="h5">
                            <dt>IVA:</dt>
                            <dd class="text-right">
                                $ <%=tax%>
                            </dd>
                        </div>
                        <div class="h4">
                            <dt>Total:</dt>
                            <dd class="text-right">
                                $ <%=total%>
                            </dd>
                        </div>
                    </dl>
                    <hr>
                    <a href="#" class="btn btn-outline-dark">Proceder al pago</a>
                </div>
                <!-- card-body.// -->
            </aside>
            <!-- col.// -->
        </div>
    </div>

    <footer class="mt-auto">
        <%- include("../layouts/footer") %>
    </footer>

</body>

</html>