<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/head") %>
</head>

<body class="d-flex flex-column min-vh-100">
    <script>
        let price = 330;
        let tax = 330 * 0.16;
        let total = price + tax;
    </script>
    <header>
        <%- include("../layouts/header1") %>
    </header>

    <div class="container p-5">
        <h3>Detalles del Pedido</h3>
        <div class="row">
            <main class="col-md-9">
                <article class="card card-body mb-3">
                    <div class="row d-flex align-items-center">
                        <span class="text-muted h4">Dirección</span>
                        <div class="h6">
                            <% addres_list.forEach(function(address) { %>
                                <div class="form-check">
                                    <input class="form-check-input wippo-radio" type="radio" name="exampleRadios" id="exampleRadios<%= address.id %>" value="<%= address.id %>" checked>
                                    <label class="form-check-label" for="exampleRadios<%= address.id %>">
                                        <span class="text-muted"><%= address.name %></span>
                                        <%= address.street %> #<%= address.number %>, <%= address.distrit %>. <%= address.city %>. CP <%= address.cp %>,
                                    </label>
                                </div>
                                <% }); %>
                        </div>
                        <!-- col.// -->
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-sm-7"></div>
                        <div class="col-md-2 col-sm-3">
                            <button class="btn btn-sm btn-dark">Agregar</button>
                        </div>
                    </div>
                    <!-- row.// -->
                </article>

                <article class="card card-body mb-3">
                    <div class="row d-flex align-items-center">
                        <div class="col">
                            <span class="text-muted h4">Método de Pago <i class="bi bi-credit-card"></i></span>
                            <div class="h6">
                                <% payments_list.forEach(function(payment) { %>
                                    <div class="form-check">
                                        <input class="form-check-input wippo-radio" type="radio" name="exampleRadios2" id="paymentRadios<%= payment.id %>" value="option1" checked>
                                        <label class="form-check-label" for="paymentRadios<%= payment.id %>"><%= payment.name %> XXXX-<%= payment.last_numbers %>
                                        </label>
                                    </div>
                                    <% }); %>
                            </div>
                            <!-- col.// -->
                        </div>
                    </div>
                    <!-- row.// -->
                    <div class="row">
                        <div class="col-md-10 col-sm-7"></div>
                        <div class="col-md-2 col-sm-3">
                            <button class="btn btn-sm btn-dark">Agregar</button>
                        </div>
                    </div>
                </article>


                <!-- card .// -->
            </main>
            <!-- col.// -->
            <aside class="col-md-3 border-left">
                <div class="card-body">
                    <dl class="dlist-align">
                        <div class="h5">
                            <dt>Subtotal:</dt>
                            <dd class="text-right">
                                $
                                <%=price%>
                            </dd>
                        </div>
                        <div class="h5">
                            <dt>IVA:</dt>
                            <dd class="text-right">
                                $
                                <%=tax%>
                            </dd>
                        </div>
                        <div class="h4">
                            <dt>Total:</dt>
                            <dd class="text-right">
                                $
                                <%=total%>
                            </dd>
                        </div>
                    </dl>
                    <hr>
                    <a href="#" class="btn btn-outline-dark">Proceder al pago</a>
                </div>
                <!-- card-body.// -->
            </aside>
            <!-- col.// -->
        </div>
    </div>

    <footer class="mt-auto">
        <%- include("../layouts/footer") %>
    </footer>

</body>

</html>