<!-- REQUIRES SHOW ADRESS: BOOLEAN, ADDRESS_LIST: ADRESS[] -->

<div class="container-fluid pt-3">
    <p class="h3">Direcciones</p>
    <% if (show_adress) { %>
        <ul class="list-group">
            <% address_list.forEach(address=> { %>
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 flex-grow-1 ">
                            <p class="text-break">
                                <span class="text-muted">
                                    Casa
                                </span>
                                <%= address.Nombre_Calle %> #
                                    <%= address.Num_ext %>
                                        <% if(address.Num_int != 0) { %>
                                            INT
                                            <%= address.Num_int %>,
                                                <%} else { %>

                                                    <% } %>
                                                        <%= address.Colonia %>.
                                                            <%= address.Estado %>. CP
                                                                <%= address.CP %>
                            </p>
                        </div>
                        <div class="p-2 ">
                            <form id="Delete_Adress">
                                <button name="ID_Direccion" value="<%=address.ID_Direccion%>" type="submit" class="btn btn-secondary" form="Delete_Adress" formmethod="POST" formaction="/users/profileC">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                                        </path>
                                        <path fill-rule="evenodd"
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                                        </path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
                <% }); %>
        </ul>
        <%} else { %>
            <p> No has registrado ninguna dirección </p>
            <% } %>
                <div class="nav justify-content-end pt-1">
                    <a class="btn btn-outline-dark text-end" href="./addAddressC">Agregar una dirección</a>
                </div>
</div>