<div class="container pt-5">
    <p class="h3">Detalle de la transaccion:
        <%=Detalle_Orden[0].ID_Orden%>
    </p>
    <div class="d-flex justify-content-end p-2">
        <a class="btn btn-outline-secondary" href="/users/Historial_Pedidos ">Cerrar</a>
    </div>
    <ul class="list-group ">
        <% Detalle_Orden.forEach(Producto=> { %>
            <li class="list-group-item ">
                <div class="d-flex align-items-center ">
                    <div class="p-2 flex-grow-1 ">
                        <p class="text-break ">
                            <span class="text-muted ">
                                    <%=Producto.Producto%> 
                                </span>
                        </p>
                        <p>
                            Cantidad:
                            <%=Producto.Cantidad%>
                                <br> Precio Unitario: $
                                <%=Producto.Precio%>
                                    <br> Subtotal: $
                                    <%=Producto.Precio * Producto.Cantidad%>
                                        <br> Vendido por:
                                        <%=Producto.NombreVendedor%>
                                            <%=Producto.ApellidoVendedor%>
                        </p>
                    </div>
                    <div class="p-2 ">
                        <img src="/images/<%=Producto.Imagen %>" style="max-block-size: 3cm;">
                    </div>
                </div>
            </li>
            <% }); %>
    </ul>
</div>

<div class="container pb-5">
    <div class="row g-0">
        <div class="col-sm-6 pt-1 pe-1">
            <div class="card h-100 p-2">
                <div class="card-body ">
                    <h5 class="card-title">Método de pago</h5>
                    <p class="card-text">
                        <%= Detalle_Orden[0].Nom_Tarjeta %>
                            <br> XXXX-
                            <%= Detalle_Orden[0].ID_Tarjeta.substring(12,16) %>
                                <br> Vence el
                                <%= Detalle_Orden[0].Mes %>/
                                    <%= Detalle_Orden[0].Year %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 pt-1 ps-1">
            <div class="card h-100 p-2">
                <div class="card-body">
                    <h5 class="card-title">Dirección de envío</h5>
                    <p class="card-text">
                        <span class="text-muted">
                            Casa
                        </span>
                        <%= Detalle_Orden[0].Nombre_Calle %> #
                            <%= Detalle_Orden[0].Num_ext %>
                                <% if(Detalle_Orden[0].Num_int != 0) { %>
                                    INT
                                    <%= Detalle_Orden[0].Num_int %>,
                                        <%} else { %>

                                            <% } %>
                                                <%= Detalle_Orden[0].Colonia %>.
                                                    <%= Detalle_Orden[0].Estado %>. CP
                                                        <%= Detalle_Orden[0].CP %>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>