<div class="container-fluid pt-3">
    <p class="h3">Historial de Pedidos</p>
    <% if (pedidos.length > 0) { %>
        <ul class="list-group">
            <% pedidos.forEach(Orden=> { %>
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 flex-grow-1 ">
                            <p class="text-break">
                                <span class="text-muted">
                                    Id de transaccion: <%=Orden.ID_Orden %>
                                </span>
                            </p>
                            <p>
                                Estatus del pedido:
                                <%=Orden.Estatus %>
                            </p>
                            <p>
                                Fecha del Pedido:
                                <%=Orden.Fecha%>
                            </p>
                            <p>Monto Total: $
                                <%=Orden.Monto_Total%>
                            </p>

                        </div>
                        <form action="/users/Historial_Pedidos/Detalle" method="GET">
                            <div class="p-2 ">
                                <button name="transaccion" type="submit" class="btn btn-default" value="<%=Orden.ID_Orden%>">
                                    Detalles
                                </button>
                            </div>
                        </form>

                    </div>
                </li>
                <% }); %>
        </ul>
        <%} else { %>
            <p> Aun no has realizado ningún pedido </p>
            <% } %>
</div>